header {
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-color: orange;
    ul {
        list-style-type: none;
        color: white;
        cursor: pointer;
        a {
            text-decoration: none;
            color: white;
        }
    }
}